body {
    font-family: sans-serif;
    color: white;
    background-color: black;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}

table {
    border: solid white 1px;
    text-align: center;
    border-collapse: collapse;
}

td {
    font-size: 20px;
    width: 25px;
    min-width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

td > img {
    max-width: 80%;
    max-height: 80%;
}

p {
    font-size: 23px;
    white-space: pre-wrap;
}

#clickMenu, #dialog {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid white;
}

#clickMenu p, #dialog p {
    padding: 10px;
    margin: 0;
}

#clickMenu p:hover, #dialog p:not(#dialogText):hover {
    background-color: #777;
}

#loadInputFile, #optionsInputFile {
    display: none;
}

.mem {
    color: gray;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    background-color: black;
}

.obj-bg {
    background-color: black;
}

.player {
    /* border but completely inside element */
    -webkit-box-shadow:inset 0px 0px 0px 1px white;
    -moz-box-shadow:inset 0px 0px 0px 1px white;
    box-shadow:inset 0px 0px 0px 1px white;
}

.selected {
    -webkit-box-shadow:inset 0px 0px 0px 1px white;
    -moz-box-shadow:inset 0px 0px 0px 1px white;
    box-shadow:inset 0px 0px 0px 1px white;
}

.wall.l {
    border-left: solid white 1px;
}

.wall.r {
    border-right: solid white 1px;
}

.wall.t {
    border-top: solid white 1px;
}

.wall.b {
    border-bottom: solid white 1px;
}

.wall-s.l {
    border-left: solid gray 1px;
}

.wall-s.r {
    border-right: solid gray 1px;
}

.wall-s.t {
    border-top: solid gray 1px;
}

.wall-s.b {
    border-bottom: solid gray 1px;
}

.wall-s-bg.l {
    border-left: solid white 1px;
}

.wall-s-bg.r {
    border-right: solid white 1px;
}

.wall-s-bg.t {
    border-top: solid white 1px;
}

.wall-s-bg.b {
    border-bottom: solid white 1px;
}
