body {
    font-family: sans-serif;
    color: white;
    background-color: black;
}

table {
    border: solid white 1px;
    text-align: center;
}

td {
    font-size: 25px;
    width: 30px;
    min-width: 30px;
    height: 30px;
    border: solid black 1px;
}

p {
    font-size: 2rem;
    white-space: pre-wrap;
}

.wall.l {
    border-left: solid white 1px;
}

.wall.r {
    border-right: solid white 1px;
}

.wall.t {
    border-top: solid white 1px;
}

.wall.b {
    border-bottom: solid white 1px;
}
