body {
    font-family: sans-serif;
    color: white;
    background-color: black;
    overflow: hidden;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none;
}

* {
    touch-action: manipulation;
}

table {
    border: solid white 1px;
    text-align: center;
    border-spacing: 0;
}

td {
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;          /* Firefox */
    image-rendering: -o-crisp-edges;            /* Opera */
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
    -ms-interpolation-mode: nearest-neighbor;   /* IE (non-standard property) */

    line-height: 20px;
    background-size: 25px 25px;
    font-size: 20px;
    width: 25px;
    max-width: 25px;
    min-width: 25px;
    height: 25px;
    max-height: 25px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

td > img {
    width: 100%;
    height: 100%;
    vertical-align: bottom;
}

p {
    font-size: 23px;
    white-space: pre-wrap;
}

#clickMenu {
    z-index: 1;
}

#clickMenu, #dialog, #msgBox {
    display: none;
    position: absolute;
    background-color: #333;
    border: 1px solid white;
}

#clickMenu p, #dialog p, #msgBox p {
    padding: 10px;
    margin: 0;
}

#clickMenu p:hover, #dialog p:not(#dialogText):hover {
    background-color: #777;
}

#msgBox:hover, #dialogText:hover {
    cursor: move;
}

#info {
    display: inline-block;
    position: absolute;
    background-color: black;
    border: 1px solid white;
    padding: 10px;
    margin: 0;
}

#info:hover {
    cursor: pointer;
}

#loadInputFile {
    display: none;
}

.mem {
    color: gray;
    background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
    background-color: black;
}

.obj-bg {
    background-color: black;
}

.player {
    border: 1px solid white;
}

.selected {
    border: 1px solid white;
}

.wall.l {
    border-left: solid white 1px;
}

.wall.r {
    border-right: solid white 1px;
}

.wall.t {
    border-top: solid white 1px;
}

.wall.b {
    border-bottom: solid white 1px;
}

.wall-s.l {
    border-left: solid gray 1px;
}

.wall-s.r {
    border-right: solid gray 1px;
}

.wall-s.t {
    border-top: solid gray 1px;
}

.wall-s.b {
    border-bottom: solid gray 1px;
}

.wall-s-bg.l {
    border-left: solid white 1px;
}

.wall-s-bg.r {
    border-right: solid white 1px;
}

.wall-s-bg.t {
    border-top: solid white 1px;
}

.wall-s-bg.b {
    border-bottom: solid white 1px;
}
